.containerPresInput{
    width: 95%;
    margin: 1rem;
    padding: 1rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: white;
    border-radius: 10px;
    margin-top: 2rem;
    height: 77vh;
}
.partApresc{
    width: 60%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.partBpresc{
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 10px;
    gap: 20px;
}
.inputAndDesDiv{
    display: flex;
    justify-content: space-between;
}
.input{
    width: 30vw;
    border-radius: 5px;
    border: 1px solid #c4c2c2;
    outline: none;
    text-transform: none;
    padding-left: 5px;
}
.input:focus{
    border: 2px solid #AA60C8;
}
.checkBoxMainDiv{
    display: flex;
    gap: 30px;
    align-items: center;
    margin-top: 10px;
}
.fileUploadDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18vh;
    border-radius: 5px;
    border-style:dashed;
    border-spacing: 10px;
    border-width: 2px;
    border-color: rgb(124, 123, 123);
}
.btnsDivMain{
    display: flex;
    justify-content: space-between;
}
.dosageDropDiv{
    width: 26vw;
}
.single-upload-button{
    cursor: pointer;
    border: 1px solid #AA60C8;
    padding: 5px;
    border-radius: 8px;
    color: #AA60C8;
}
.checkbox{
    padding: 5px;
}
.cancelBtn{
    width: 15vw;
    padding: 3px;
    font-size: 15px;
    border: #AA60C8 2px solid;
    background-color: white;
    border-radius: 5px;
    color: #AA60C8;
    cursor: pointer;
}
.saveBtn{
    width: 15vw;
    padding: 3px;
    font-size: 15px;
    border: #AA60C8 2px solid;
    background-color: #AA60C8;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.formInpTit{
    font-size: 17px;
    font-weight: 400;
}
.inputSubTitDivSelect{
    border: 1px solid #AA60C8;
    padding: 2px 10px;
    border-radius:5px;
    color: white;
    cursor: pointer;
    background-color: #AA60C8;
}
.inputSubTitDivDeSelect{
    border: 1px solid #c4c2c2;
    padding: 2px 10px;
    border-radius:5px;
    color: rgb(92, 91, 91);
    cursor: pointer;
}

